%h2 Change Password
= form_for user, :url => change_password_user_path(user) do |f|
  %p
    %label{:for => "user_password"}= "Password"
    = f.password_field :password, { :value => '' }
  %p
    %label{:for => "user_password_confirmation"}= "Password Confirmation"
    = f.password_field :password_confirmation, { :value => '' }
  %p
    = submit_tag "Update"
